.container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: #1565c0;
}

.content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.user-data {
    display: grid;
    /**grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );**/
    margin-bottom: 10px;
}

.input-class {
    width: 100%;
    min-height: 2em;
}

.validation-error {
    color: red;
}